<!DOCTYPE HTML>
<html lang="it">
<head>
    <title>Calendar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Contents/Css/style.css">

    <!-- FOR TOPNAV -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/Scripts/script.js"></script>
</head>

<body>
<div class="topnav" id="topNavBar">
    <a class="topnav_font" href="/Views/home.html">Home</a>
    <a href="/Views/calendar.html">Calendario Eventi</a>
    <a href="/Views/paths.html">Piste Ciclabili</a>
    <a href="/Views/charger.html">Colonnine di Ricarica</a>
    <a href="/Views/shop.html">Officine</a>
    <a href="/Views/about.html">Informazioni</a>
    <a href="javascript:void(0);" class="icon" onclick="showLinks()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<br>


<h1 class="heading">Calendario 2021 degli eventi ciclisti</h1>
<h1 class="subtitle">Date a partire da settembre</h1><br>

<table>
    <tr>
        <td>Data</td>
        <td>Luogo</td>
        <td>Tipologia</td>
    </tr>

    <tr>
        <td>5/9/2021</td>
        <td>Passons (UD)</td>
        <td>Road</td>
    </tr>

    <tr>
        <td>6/9/2021</td>
        <td>Paluzza (UD)</td>
        <td>MTB</td>
    </tr>

    <tr>
        <td>12/9/2021<br>13/9/2021</td>
        <td>Tarcento (UD)</td>
        <td>MTB</td>
    </tr>

    <tr>
        <td>19/9/2021</td>
        <td>Ampezzo (UD)</td>
        <td>Gravel</td>
    </tr>

    <tr>
        <td>27/9/2021</td>
        <td>Treppo (UD)</td>
        <td>MTB</td>
    </tr>

    <tr>
        <td>17/10/2021</td>
        <td>Ospedaletto (UD)</td>
        <td>MTB</td>
    </tr>

    <tr>
        <td>15/11/2021</td>
        <td>Buia (UD)</td>
        <td>MTB</td>
    </tr>
</table>
<br><br>


<h2>Legenda</h2>
<ul>
    <li><strong>mtb</strong>: MOUNTAN BIKE, percorso per la maggior parte sullo sterrato, in terreni poco battuti,
        eventi inadatti per bici da strada e sconsigliati per gravel (da approfondire l'evento in particolare),
        necessitano di una bici di tipo Mountan Bike e del relativo equipaggiamento;
    </li>
    <li><strong>gravel</strong>: eventi che si sviluppano su strada e su terreni non asfaltati, per esempio sterrati ben
        battuti, è consigliato l'uso di una bici adatta a questi percorsi, o in alternativa a una mountan bike;
    </li>
    <li><strong>road</strong>: percorsi ineramente su strada asfaltata, adatti a bici da corsa e bici da strada, in
        alternativa è possibile percorrerli con una mountan bike oppure una gravel;
    </li>
    <li><strong>cicloturismo</strong>: percorsi che hanno la peculiarità di essere panoramici, sono apprezzati anche da
        persone meno sportive che gradiscono godersi un percorso piacevole, non eccessivamente impegnativo ma
        gratificante.
    </li>
</ul>

<footer id="footer">
    <button class="f-button" onclick=" window.open('https://twitter.com/intent/tweet?text=TITOLO&url=URL','_blank')">
        Tweet
    </button>
    <button class="f-button" onclick=" window.open('https://www.facebook.com/sharer/sharer.php?u=URL','_blank')">
        Facebook
    </button>
    <button class="f-button" onclick=" window.open('sent.html','_blank')">Contattaci</button>
</footer>


</body>
</html>
