<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Contents/Css/Style.css">
    <!-- FOR TOPNAV -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Charger</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNTVdV7RSq-H4GPEk9xnZERlTUfIiZniI&callback=myMap"></script>
</head>
<body>
<div class="topnav" id="myTopnav">
    <a class="topnav_font" href="/Views/Home.html">Home</a>
    <a href="/Views/Calendar.html">Calendario Eventi</a>
    <a href="/Views/Paths.html">Piste Ciclabili</a>
    <a href="/Views/Charger.html">Colonnine di Ricarica</a>
    <a href="/Views/Shop.html">Officine</a>
    <a href="/Views/About.html">Informazioni</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<br>

<h1 class="heading">Stazioni di ricarica per biciclette</h1>
<div class="maps" id="chargermap"></div>

<h1 class="subtitle">La mappa illustra i luoghi dove è possibile sostare con la bicicletta e ricaricare la propria
    batteria, è consigliabile visualizzare i dettagli della stazione cliccando sulla mappa.</h1>


<footer id="footer">
    <button class="f-button" onclick=" window.open('https://twitter.com/intent/tweet?text=TITOLO&url=URL','_blank')">
        Tweet
    </button>
    <button class="f-button" onclick=" window.open('https://www.facebook.com/sharer/sharer.php?u=URL','_blank')">
        Facebook
    </button>
    <button class="f-button" onclick=" window.open('/Sent.html','_blank')">Contattaci</button>
</footer>
<script src="/Scripts/Chargermap.js"></script>
</body>
</html>

