<!DOCTYPE HTML>
<html lang="it">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Contents/Css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--for topnav-->
</head>

<body>

<div class="topnav" id="topNavBar">
    <a class="topnav_font" href="/Views/home.html">Home</a>
    <a href="/Views/calendar.html">Calendario Eventi</a>
    <a href="/Views/paths.html">Piste Ciclabili</a>
    <a href="/Views/charger.html">Colonnine di Ricarica</a>
    <a href="/Views/shop.html">Officine</a>
    <a href="/Views/about.html">Informazioni</a>
    <a href="javascript:void(0);" class="icon" onclick="showLinks()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<br>


<h1 id="home_title">FriuliBike</h1>

<section class="pictures_link">

    <div>
        <a href="/Views/Paths/mtb_all.html">
            <img src="/Contents/images/home/01.jpg" alt="Mountan Bike">
            <h3>Mountan Bike</h3>
        </a>
    </div>
    <div>
        <a href="../Contents/images/home/spot.jpg">
            <img src="/Contents/images/home/spot.jpg" alt="Spot">
            <h3>Spazio Pubblicitario</h3>
        </a>
    </div>
    <div>
        <a href="/Views/Paths/road_all.html">
            <img src="/Contents/images/home/02.jpg" alt="Road">
            <h3>Ciclismo su Strada</h3>
        </a>
    </div>
    <div>
        <a href="/Views/home.html">
            <img src="/Contents/images/home/03.jpg" alt="Locations">
            <h3>Luoghi di Interesse</h3>
        </a>
    </div>

    <div>
        <a href="/Views/Paths/gravel_all.html">
            <img src="/Contents/images/home/04.jpg" alt="Gravel">
            <h3>Gravel</h3>
        </a>
    </div>

    <div>
        <a href="/Views/gallery.html">
            <img src="/Contents/images/home/05.jpg" alt="Gallery">
            <h3>Galleria</h3>
        </a>
    </div>
</section>


<footer id="footer">
    <button class="f-button" onclick="window.open('https://twitter.com/intent/tweet?text=TITOLO&url=URL','_blank')">
        Tweet
    </button>
    <button class="f-button" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=URL','_blank')">
        Facebook
    </button>
    <button class="f-button" onclick="window.open('/Sent.html','_blank')">Contattaci</button>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
<script src="/Scripts/script.js"></script> <!-- link for script about topnav -->
</body>
</html>
