<!DOCTYPE HTML>
<html lang="it">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Contents/Css/Style.css">
    <!-- FOR TOPNAV -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="topnav" id="myTopnav">
    <a class="topnav_font" href="/Views/home.html">Home</a>
    <a href="/Views/calendar.html">Calendario Eventi</a>
    <a href="/Views/paths.html">Piste Ciclabili</a>
    <a href="/Views/charger.html">Colonnine di Ricarica</a>
    <a href="/Views/shop.html">Officine</a>
    <a href="/Views/about.html">Informazioni</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<br>

<h1 class="heading">Percorsi ciclabili del Friuli Venezia-Giulia</h1><br>

<table>
    <tr>
        <td><strong>NOME</strong></td>
        <td><strong>DISTANZA</strong></td>
        <td><strong>TIPO</strong></td>
        <td><strong>FONDO</strong></td>
        <td><strong>PENDENZA MAX</strong></td>
        <td><strong>DISLIVELLO</strong></td>
    </tr>
    <tr>
        <td>A passeggio fra due Italia - Slovenia</td>
        <td>27 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>6,00%</td>
        <td>54 m</td>
    </tr>
    <tr>
        <td>A13 del Natisone: Udine - Cividale - Stupizza</td>
        <td>17 km</td>
        <td>ciclabile</td>
        <td>misto</td>
        <td>5,00%</td>
        <td>31 m</td>
    </tr>
    <tr>
        <td>Aiello - Joannis</td>
        <td>2 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>2,00%</td>
        <td>4 m</td>
    </tr>
    <tr>
        <td>Aiello del Friuli - Perteole - Ruda</td>
        <td>4 km</td>
        <td>ciclopedonale</td>
        <td>asfalto</td>
        <td>2,00%</td>
        <td>9 m</td>
    </tr>
    <tr>
        <td>Alpeadria - Tratto Tarvisio - Pontebba</td>
        <td>26 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>20,00%</td>
        <td>264 m</td>
    </tr>
    <tr>
        <td>Alpeadria: Tratto Coccau - Villaco</td>
        <td>25 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>26,00%</td>
        <td>201 m</td>
    </tr>
    <tr>
        <td>Alpeadria: Tratto Palmanova - Grado</td>
        <td>27 km</td>
        <td>strada</td>
        <td>asfalto</td>
        <td>5,00%</td>
        <td>40 m</td>
    </tr>
    <tr>
        <td>Alpeadria: Tratto Pontebba Resiutta</td>
        <td>21 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>27,00%</td>
        <td>585 m</td>
    </tr>
    <tr>
        <td>Alpeadria: Tratto Resiutta - Carnia</td>
        <td>14 km</td>
        <td>strada</td>
        <td>misto</td>
        <td>12,00%</td>
        <td>362 m</td>
    </tr>
    <tr>
        <td>Alta Val Cellina: doppio anello</td>
        <td>40 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>28,00%</td>
        <td>887 m</td>
    </tr>
    <tr>
        <td>Aquileia: dalla campagna al mare</td>
        <td>22 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>6,00%</td>
        <td>7 m</td>
    </tr>
    <tr>
        <td>Attimis - Porzus - Subit (anello)</td>
        <td>20 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>28,00%</td>
        <td>916 m</td>
    </tr>
    <tr>
        <td>Bagnaria Arsa: Ex-tiro al piattello</td>
        <td>3 km</td>
        <td>sentiero</td>
        <td>ghiaia</td>
        <td>3,00%</td>
        <td>6 m</td>
    </tr>
    <tr>
        <td>Bannia - San Vito al Tagliamento</td>
        <td>7 km</td>
        <td>ciclostrada</td>
        <td>asfalto</td>
        <td>1,00%</td>
        <td>9 m</td>
    </tr>
    <tr>
        <td>Barcis: lungolago e vecchia strada per Molassa</td>
        <td>8 km</td>
        <td>ciclopedonale</td>
        <td>asfalto</td>
        <td>18,00%</td>
        <td>73 m</td>
    </tr>
    <tr>
        <td>Barcis: sterrato per Malga Valli e Caolana</td>
        <td>3 km</td>
        <td>ciclostrada</td>
        <td>ghiaia</td>
        <td>24,00%</td>
        <td>56 m</td>
    </tr>
    <tr>
        <td>Basiliano - Lestizza - Bertiolo (anello)</td>
        <td>28 km</td>
        <td>strada</td>
        <td>misto</td>
        <td>5,00%</td>
        <td>56 m</td>
    </tr>
    <tr>
        <td>Basso Judrio</td>
        <td>26 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>28,00%</td>
        <td>170 m</td>
    </tr>
    <tr>
        <td>Basso Tagliamento</td>
        <td>96 km</td>
        <td>ciclostrada</td>
        <td>asfalto</td>
        <td>3,00%</td>
        <td>49 m</td>
    </tr>
    <tr>
        <td>Beivars - Godia</td>
        <td>2 km</td>
        <td>ciclopedonale</td>
        <td>ghiaia</td>
        <td>1,00%</td>
        <td>10 m</td>
    </tr>
    <tr>
        <td>Beivars - San Gottardo</td>
        <td>2 km</td>
        <td>ciclopedonale</td>
        <td>terra</td>
        <td>2,00%</td>
        <td>13 m</td>
    </tr>
    <tr>
        <td>Beivars: via Bariglaria</td>
        <td>2 km</td>
        <td>ciclostrada</td>
        <td>asfalto</td>
        <td>0,00%</td>
        <td>6 m</td>
    </tr>
    <tr>
        <td>Belvedere - Grado</td>
        <td>5 km</td>
        <td>ciclabile</td>
        <td>ghiaia</td>
        <td>0,00%</td>
        <td>0 m</td>
    </tr>
    <tr>
        <td>Bibione - Cesarolo (anello)</td>
        <td>33 km</td>
        <td>strada</td>
        <td>asfalto</td>
        <td>10,00%</td>
        <td>7 m</td>
    </tr>
    <tr>
        <td>Bibione 3 - Faro</td>
        <td>8 km</td>
        <td>ciclabile</td>
        <td>terra</td>
        <td>1,00%</td>
        <td>7 m</td>
    </tr>
    <tr>
        <td>Bibione: ciclabile del Tagliamento</td>
        <td>30 km</td>
        <td>ciclopedonale</td>
        <td>ghiaia</td>
        <td>1,00%</td>
        <td>11 m</td>
    </tr>
    <tr>
        <td>Bibione: lungomare</td>
        <td>5 km</td>
        <td>ciclopedonale</td>
        <td>misto</td>
        <td>0,00%</td>
        <td>2 m</td>
    </tr>
    <tr>
        <td>Bibione: via Baseleghe - via Orsa Maggiore - via Urano</td>
        <td>6 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>0,00%</td>
        <td>5 m</td>
    </tr>
    <tr>
        <td>Bibioni: terzo bacino in bici</td>
        <td>29 km</td>
        <td>strada</td>
        <td>asfalto</td>
        <td>0,00%</td>
        <td>4 m</td>
    </tr>
    <tr>
        <td>Bordano - Cavazzo - Venzone, anello San Simeone</td>
        <td>22 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>28,00%</td>
        <td>335 m</td>
    </tr>
    <tr>
        <td>Bordiga - Torviscosa</td>
        <td>5 km</td>
        <td>sentiero</td>
        <td>ghiaia</td>
        <td>1,00%</td>
        <td>12 m</td>
    </tr>
    <tr>
        <td>Borgo Fornasir - San Martino</td>
        <td>3 km</td>
        <td>sentiero</td>
        <td>ghiaia</td>
        <td>2,00%</td>
        <td>5 m</td>
    </tr>
    <tr>
        <td>Bovec (Slovenia) - Tarvisio</td>
        <td>30 km</td>
        <td>strada</td>
        <td>asfalto</td>
        <td>28,00%</td>
        <td>724 m</td>
    </tr>
    <tr>
        <td>Buttrio - Cividale (anello)</td>
        <td>37 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>8,00%</td>
        <td>52 m</td>
    </tr>
    <tr>
        <td>Buttrio: ciclabile impianti sportivi</td>
        <td>1 km</td>
        <td>ciclopedonale</td>
        <td>asfalto</td>
        <td>3,00%</td>
        <td>9 m</td>
    </tr>
    <tr>
        <td>Buttrio: giro del Montecristo</td>
        <td>9 km</td>
        <td>strada</td>
        <td>asfalto</td>
        <td>23,00%</td>
        <td>54 m</td>
    </tr>
    <tr>
        <td>Canebola - Platischis - Campo di Bonis - Subit - Canebola</td>
        <td>25 km</td>
        <td>sentiero</td>
        <td>misto</td>
        <td>23,00%</td>
        <td>477 m</td>
    </tr>
    <tr>
        <td>Carso - Giro semplice</td>
        <td>28 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>20,00%</td>
        <td>182 m</td>
    </tr>
    <tr>
        <td>Carso e Istria: Hrastovlje (Slovenia)</td>
        <td>38 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>24,00%</td>
        <td>494 m</td>
    </tr>
    <tr>
        <td>Carso Triestino</td>
        <td>23 km</td>
        <td>ciclostrada</td>
        <td>asfalto</td>
        <td>18,00%</td>
        <td>348 m</td>
    </tr>
    <tr>
        <td>Carso Triestino</td>
        <td>23 km</td>
        <td>ciclostrada</td>
        <td>asfalto</td>
        <td>18,00%</td>
        <td>348 m</td>
    </tr>
    <tr>
        <td>Carso: tra le trincee della Grande Guerra (anello)</td>
        <td>24 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>25,00%</td>
        <td>220 m</td>
    </tr>
    <tr>
        <td>Carso: tra vigne e castellieri</td>
        <td>25 km</td>
        <td>sentiero</td>
        <td>misto</td>
        <td>7,00%</td>
        <td>93 m</td>
    </tr>
    <tr>
        <td>Casarsa della Delizia: ciclabile Viale Udine SS13</td>
        <td>5 km</td>
        <td>ciclopedonale</td>
        <td>asfalto</td>
        <td>2,00%</td>
        <td>10 m</td>
    </tr>
    <tr>
        <td>Case di Manzano - Oleis</td>
        <td>3 km</td>
        <td>ciclopedonale</td>
        <td>asfalto</td>
        <td>8,00%</td>
        <td>15 m</td>
    </tr>
    <tr>
        <td>Castello di Porcia - Castello di Torre</td>
        <td>12 km</td>
        <td>ciclopedonale</td>
        <td>misto</td>
        <td>7,00%</td>
        <td>22 m</td>
    </tr>
    <tr>
        <td>Cavazzo Carnico - Flagogna - Sella Chianzutan (anello)</td>
        <td>71 km</td>
        <td>strada</td>
        <td>asfalto</td>
        <td>28,00%</td>
        <td>963 m</td>
    </tr>
    <tr>
        <td>Cecchini di Pasiano - Bosco della Mantova (anello)</td>
        <td>19 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>5,00%</td>
        <td>10 m</td>
    </tr>
    <tr>
        <td>Cervignano - Monte San Michele (anello)</td>
        <td>42 km</td>
        <td>ciclostrada</td>
        <td>asfalto</td>
        <td>23,00%</td>
        <td>250 m</td>
    </tr>
    <tr>
        <td>Cervignano - Pordenone</td>
        <td>29 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>5,00%</td>
        <td>7 m</td>
    </tr>
    <tr>
        <td>Cervignano del Friuli - Grado</td>
        <td>64 km</td>
        <td>ciclabile</td>
        <td>misto</td>
        <td>5,00%</td>
        <td>13 m</td>
    </tr>
    <tr>
        <td>Cervignano del Friuli - Palmanova (anello)</td>
        <td>63 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>5,00%</td>
        <td>53 m</td>
    </tr>
    <tr>
        <td>Cervignano del Friuli - San Martino</td>
        <td>3 km</td>
        <td>ciclopedonale</td>
        <td>ghiaia</td>
        <td>5,00%</td>
        <td>4 m</td>
    </tr>
    <tr>
        <td>Chiassis - monte zoncolan</td>
        <td>16 km</td>
        <td>ciclabile</td>
        <td>misto</td>
        <td>0,00%</td>
        <td>0 m</td>
    </tr>
    <tr>
        <td>Chiusaforte - Altopiano Montasio</td>
        <td>22 km</td>
        <td>ciclostrada</td>
        <td>asfalto</td>
        <td>26,00%</td>
        <td>1137 m</td>
    </tr>
    <tr>
        <td>Ciclabile di Claut (anello)</td>
        <td>18 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>25,00%</td>
        <td>126 m</td>
    </tr>
    <tr>
        <td>Ciclabile Pontebbana: san Giovanni del Tempio - Sacile</td>
        <td>2 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>0,00%</td>
        <td>1 m</td>
    </tr>
    <tr>
        <td>Ciclovia Friul@Mare</td>
        <td>51 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>5,00%</td>
        <td>101 m</td>
    </tr>
    <tr>
        <td>Cimolais - Rifugio Pordenone</td>
        <td>14 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>24,00%</td>
        <td>585 m</td>
    </tr>
    <tr>
        <td>Cividale - Slovenia - Prossenicco (anello)</td>
        <td>74 km</td>
        <td>ciclostrada</td>
        <td>asfalto</td>
        <td>29,00%</td>
        <td>962 m</td>
    </tr>
    <tr>
        <td>Cividale - Tarvisio</td>
        <td>104 km</td>
        <td>strada</td>
        <td>asfalto</td>
        <td>27,00%</td>
        <td>1599 m</td>
    </tr>
    <tr>
        <td>Cividale del Friuli: anello Nord del Natisone</td>
        <td>9 km</td>
        <td>ciclabile</td>
        <td>misto</td>
        <td>10,00%</td>
        <td>31 m</td>
    </tr>
    <tr>
        <td>FVG3 Budoia - Aviano</td>
        <td>7 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>16,00%</td>
        <td>75 m</td>
    </tr>
    <tr>
        <td>Fvg3 Budoia - Cordignano</td>
        <td>19 km</td>
        <td>ciclopedonale</td>
        <td>misto</td>
        <td>22,00%</td>
        <td>58 m</td>
    </tr>
    <tr>
        <td>FVG3 Cavasso Nuovo - Pinzano al Tagliamento</td>
        <td>21 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>11,00%</td>
        <td>131 m</td>
    </tr>
    <tr>
        <td>FVG3 Cividale - Cormons</td>
        <td>21 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>10,00%</td>
        <td>83 m</td>
    </tr>
    <tr>
        <td>Udine: da piazzale Osoppo a Paderno</td>
        <td>2 km</td>
        <td>ciclabile</td>
        <td>misto</td>
        <td>5,00%</td>
        <td>6 m</td>
    </tr>
    <tr>
        <td>Udine: da via Pradamano a Planis</td>
        <td>5 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>5,00%</td>
        <td>15 m</td>
    </tr>
    <tr>
        <td>Udine: Da viale Venezia al parco del Cormor basso</td>
        <td>1 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>5,00%</td>
        <td>9 m</td>
    </tr>
    <tr>
        <td>Udine: Parco urbano del Cormor basso</td>
        <td>2 km</td>
        <td>ciclabile</td>
        <td>misto</td>
        <td>5,00%</td>
        <td>9 m</td>
    </tr>
    <tr>
        <td>Udine: Rizzi - parco del Cormor - Ippovia</td>
        <td>2 km</td>
        <td>ciclabile</td>
        <td>misto</td>
        <td>3,00%</td>
        <td>7 m</td>
    </tr>
    <tr>
        <td>Udine: San Gottardo - Beivars</td>
        <td>2 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>1,00%</td>
        <td>6 m</td>
    </tr>
    <tr>
        <td>Udine: Stazione ferroviaria - Piazzale Cella - Viale Venezia</td>
        <td>2 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>6,00%</td>
        <td>8 m</td>
    </tr>
    <tr>
        <td>Udine: viale Cadore</td>
        <td>1 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>1,00%</td>
        <td>5 m</td>
    </tr>
    <tr>
        <td>Udine: viale Cadore - villaggio del sole</td>
        <td>2 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>5,00%</td>
        <td>4 m</td>
    </tr>
    <tr>
        <td>Udine: viale Pasolini</td>
        <td>2 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>5,00%</td>
        <td>8 m</td>
    </tr>
    <tr>
        <td>Urbana Cervignano del Friuli</td>
        <td>3 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>0,00%</td>
        <td>2 m</td>
    </tr>
    <tr>
        <td>Vajont: percorso ciclopedonale</td>
        <td>2 km</td>
        <td>ciclopedonale</td>
        <td>ghiaia</td>
        <td>12,00%</td>
        <td>29 m</td>
    </tr>
    <tr>
        <td>Val Bartolo: Camporosso - Sella Bartolo</td>
        <td>7 km</td>
        <td>strada</td>
        <td>ghiaia</td>
        <td>27,00%</td>
        <td>357 m</td>
    </tr>
    <tr>
        <td>Val Colvera - Poffabro Frisanco Navarons</td>
        <td>20 km</td>
        <td>ciclostrada</td>
        <td>asfalto</td>
        <td>26,00%</td>
        <td>245 m</td>
    </tr>
    <tr>
        <td>Val di Lauco - Crostis - Zoncolan</td>
        <td>98 km</td>
        <td>strada</td>
        <td>asfalto</td>
        <td>29,00%</td>
        <td>2003 m</td>
    </tr>
    <tr>
        <td>Valichi del Carso</td>
        <td>17 km</td>
        <td>ciclabile</td>
        <td>misto</td>
        <td>10,00%</td>
        <td>226 m</td>
    </tr>
    <tr>
        <td>Valle del Preval</td>
        <td>32 km</td>
        <td>ciclabile</td>
        <td>misto</td>
        <td>20,00%</td>
        <td>248 m</td>
    </tr>
    <tr>
        <td>Valli del Torre - Passo Tanamea - Val Resia - Resiutta</td>
        <td>81 km</td>
        <td>ciclabile</td>
        <td>asfalto</td>
        <td>27,00%</td>
        <td>1104 m</td>
    </tr>
    <tr>
        <td>Vallone e Lago di Doberdo</td>
        <td>17 km</td>
        <td>ciclabile</td>
        <td>misto</td>
        <td>20,00%</td>
        <td>150 m</td>
    </tr>
    <tr>
        <td>Venzone - Gemona (variante FVG1)</td>
        <td>9 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>15,00%</td>
        <td>44 m</td>
    </tr>
    <tr>
        <td>Venzone-Tolmezzo-Venzone</td>
        <td>37 km</td>
        <td>ciclostrada</td>
        <td>misto</td>
        <td>26,00%</td>
        <td>129 m</td>
    </tr>

</table>

<footer id="footer">
    <button class="f-button" onclick=" window.open('https://twitter.com/intent/tweet?text=TITOLO&url=URL','_blank')">
        Tweet
    </button>
    <button class="f-button" onclick=" window.open('https://www.facebook.com/sharer/sharer.php?u=URL','_blank')">
        Facebook
    </button>
    <button class="f-button" onclick=" window.open('/Sent.html','_blank')">Contattaci</button>
</footer>
<script src="/Scripts/Topnav.js"></script>
</body>
</html>
