<!DOCTYPE HTML>
<html lang="it">
<head>
    <title>Sent</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../Contents/Css/style.css">
    <!-- FOR TOPNAV -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<div class="topnav" id="myTopnav">
    <a class="topnav_font" href="/Views/home.html">Home</a>
    <a href="/Views/calendar.html">Calendario Eventi</a>
    <a href="/Views/paths.html">Piste Ciclabili</a>
    <a href="/Views/charger.html">Colonnine di Ricarica</a>
    <a href="/Views/shop.html">Officine</a>
    <a href="/Views/about.html">Informazioni</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<br>


<div id="message">
    <form action="mailto:esempio_per_esame@libero.it" method="post" name="utente" enctype="text/plain">

        <strong>Nome:</strong><br>
        <label>
            <input type="text" name="nome">
        </label>


        <strong>Mail:</strong><br>
        <label>
            <input type="text" name="mail">
        </label>


        <strong>Commento:</strong><br>
        <label>
            <textarea name="commento" rows="5"></textarea>
        </label>
        <br>


        <button type="submit">Invia</button>
        <button type="reset">Cancella</button>


    </form>
</div>


Gabriele Tomai: 334218533<br>

<img src="/Contents/images/sent/logo.jpg" class="responsive_images" alt="logo_universita">

<footer id="footer">
    <button class="f-button" onclick=" window.open('https://twitter.com/intent/tweet?text=TITOLO&url=URL','_blank')">
        Tweet
    </button>
    <button class="f-button" onclick=" window.open('https://www.facebook.com/sharer/sharer.php?u=URL','_blank')">
        Facebook
    </button>
    <button class="f-button" onclick=" window.open('/Sent.html','_blank')">Contattaci</button>
</footer>

<script src="/Scripts/topnav.js"></script>
</body>
</html>