<!DOCTYPE html>
<html lang="it">
<head>
    <title>M1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../Contents/Css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNTVdV7RSq-H4GPEk9xnZERlTUfIiZniI&callback=myMap"></script>

</head>

<body>

<div class="topnav" id="topNavBar">
    <a href="../../home.html">Home</a>
    <a href="../../calendar.html">Calendario Eventi</a>
    <a href="../../paths.html">Piste Ciclabili</a>
    <a href="../../charger.html">Colonnine di Ricarica</a>
    <a href="../../shop.html">Officine</a>
    <a href="../../about.html">Informazioni</a>
    <button type="button" class="icon" onclick="showLinks()">
        <i class="fa fa-bars"></i>
    </button>
</div>
<br>

<h1 class="heading">CASERARAZZO - VILLASANTINA</h1>
<div class="maps" id="mtb_01"></div> <!-- mappa -->
<br>
<button class="function" onclick="openwindow(1)">Commenta</button>
<button class="function" type="submit" onclick="getLocation()">Geolocalizzazione</button>
<button class="function" id="show_shop" type="submit" onclick="show_markers('shop')">Visualizza Officine</button>
<button class="function" id="show_charger" type="submit" onclick="show_markers('charger')">Visualizza Stazioni di Ricarica</button>
<button class="function" type="submit" onclick="window.open('../../../Contents/kml_path/kml_mtb/01.kml')">Scarica Mappa
</button>
<br>

<button class="function" id="loadDesc" onClick="loadDescription('m1')">Visualizza descrizione</button>

<p id="desc"></p>


<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <p id="leave_comment"><strong>Lascia un commento</strong></p>
        </div>
        <div class="modal-body">
            <div id="marcatore"></div>
            <div id="id_marcatore"></div>
            <p>Inserisci il tuo nome: <label for="name"></label><input type="text" id="name"><br></p>
            <p>Inserisci il tuo commento: <label for="textcomment"></label><input type="text" id="textcomment"><br></p>
            <div id="id-button"></div>   <!-- viene aggiunto: onload="generateComment(id)"--><!-- (con id preciso) -->
        </div>
        <div class="modal-footer">
            <p id="thanks"><strong>Ti ringraziamo!</strong></p>
        </div>
    </div>
</div>


<div>Seleziona i commenti da visualizzare:</div>

<label for="mySelect">Filter comments by marker:</label><select id="mySelect">
    <option value="0">Tutti</option>
    <option value="1">Tutto il Percorso</option>
    <option value="2">Partenza</option>
    <option value="3">Arrivo</option>
    <option value="4">Lago di Sauris</option>
</select>
<button class="function" onclick="getComments(document.getElementById('mySelect').value, 0)">Visualizza</button>
<br><br>

<div id="comments"></div>

<div id="number_comments"></div>
<div id="update_comments"></div>

<!-- <botton>Visualizza altri commenti (nello script) </botton> -->
<footer id="footer">
    <button class="f-button" onclick="window.open('https://twitter.com/intent/tweet?text=TITOLO&url=URL','_blank')">
        Tweet
    </button>
    <button class="f-button" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=URL','_blank')">
        Facebook
    </button>
    <button class="f-button" onclick="window.open('../../sent.html','_blank')">Contattaci</button>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
<script src="../../../Scripts/script.js"></script>
<script src="../../../Scripts/mtb/mtb_01.js"></script>
</body>
</html>
