<!DOCTYPE HTML>
<html lang="it">
<head>
    <title>Gravel_all</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Contents/Css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="topnav" id="topNavBar">
    <a class="topnav_font" href="../home.html">Home</a>
    <a href="../calendar.html">Calendario Eventi</a>
    <a href="../paths.html">Piste Ciclabili</a>
    <a href="../charger.html">Colonnine di Ricarica</a>
    <a href="../shop.html">Officine</a>
    <a href="../about.html">Informazioni</a>
\    <a href="javascript:void(0);" class="icon" onclick="showLinks()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<br>

<h1 class="heading">Itinerari per Gravel</h1><br>
<h2 class="subtitle">Ti presentiamo alcuni degli itinerari più importanti della regione Friuli Venezia-Giulia. Questi
    percorsi sono adatti per bici gravel, quindi biciclette con un assetto stradale che però si prestano anche per brevi
    percorsi su sterrati ben battuti.</h2><br><br>


<section class="pictures_link" id="pictures_link_paths">

    <div>
        <a>
            <img src="../../Contents/images/paths/gravel/01.jpg" alt="gravel/01">
            <h3>NEL CUORE DELL'ANFITEATRO</h3><strong>Lunghezza:</strong> 90km; <strong>Salita:</strong> 798m
        </a>
        <a>
            <img src="../../Contents/images/paths/gravel/02.jpg" alt="gravel/02">
            <h3>BORGHI DI COLLINA</h3><strong>Lunghezza:</strong> 120km; <strong>Salita:</strong> 961m
        </a>
    </div>

    <div>
        <a>
            <img src="../../Contents/images/paths/gravel/03.jpg" alt="gravel/03">
            <h3>PANORAMI IRRIPETIBILI</h3><strong>Lunghezza:</strong> 80km; <strong>Salita:</strong> 1.520m
        </a>
        <a>
            <img src="../../Contents/images/paths/gravel/04.jpg" alt="gravel/04">
            <h3>IL SALOTTO BUONO DELLE COLLINE</h3><strong>Lunghezza:</strong> 47km; <strong>Salita:</strong> 401m
        </a>
    </div>

</section>


<footer id="footer">
    <button onclick=" window.open('https://twitter.com/intent/tweet?text=TITOLO&url=URL','_blank')">Tweet</button>
    <button onclick=" window.open('https://www.facebook.com/sharer/sharer.php?u=URL','_blank')">Facebook</button>
    <button onclick=" window.open('../sent.html','_blank')">Contattaci</button>
</footer>

<script src="../../Scripts/script.js"></script>
</body>
</html>