<!DOCTYPE HTML>
<html lang="it">
<head>
    <title>Mtb_all</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Contents/Css/Style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--for topnav-->
</head>

<body>

<div class="topnav" id="myTopnav">
    <a class="topnav_font" href="../Home.html">Home</a>
    <a href="../Calendar.html">Calendario Eventi</a>
    <a href="../Paths.html">Piste Ciclabili</a>
    <a href="../Charger.html">Colonnine di Ricarica</a>
    <a href="../Shop.html">Officine</a>
    <a href="../About.html">Informazioni</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<br>

<div id="wrapper">


    <h1 class="heading">Itinerari per Mountan Bike</h1><br>
    <h2 class="subtitle">Ti presentiamo alcuni degli itinerari più importanti della regione Friuli Venezia-Giulia.
        Questi percorsi sono adatti per bici da montagna, in quanto attraversano sterrati e di solito hanno forti
        pendenze</h2><br>


    <section class="pictures_link" id="pictures_link_paths">

        <div>
            <a href="mtb/m1.html">
                <img src="../../Contents/images/paths/mtb/01.jpg" alt="mtb/01">
                <h3>CASERARAZZO - VILLASANTINA</h3><strong>Lunghezza:</strong> 39km; Solo discesa
            </a>
        </div>
        <div>
            <a href="../../Contents/images/paths/mtb/02.jpg">
                <img src="../../Contents/images/paths/mtb/02.jpg" alt="mtb/02">
                <h3>COLLOREDO DI MONTE ALBANO - RAGOGNA</h3><strong>Lunghezza:</strong> 48km; <strong>Salita:</strong>
                700m
            </a>
        </div>

        <div>
            <a href="../../Contents/images/paths/mtb/03.jpg">
                <img src="../../Contents/images/paths/mtb/03.jpg" alt="mtb/03">
                <h3>SAGRADO - MONTE SEI BUSI</h3><strong>Lunghezza:</strong> 25km; <strong>Salita:</strong> 350m
            </a>
        </div>

        <div>
            <a href="../../Contents/images/paths/mtb/04.jpg">
                <img src="../../Contents/images/paths/mtb/04.jpg" alt="mtb/04">
                <h3>VITO D'ASIO - COLLE SAN MARTINO</h3><strong>Lunghezza:</strong> 20km; <strong>Salita:</strong> 750m
            </a>
        </div>


    </section>


    <footer id="footer">
        <button class="f-button"
                onclick=" window.open('https://twitter.com/intent/tweet?text=TITOLO&url=URL','_blank')">Tweet
        </button>
        <button class="f-button" onclick=" window.open('https://www.facebook.com/sharer/sharer.php?u=URL','_blank')">
            Facebook
        </button>
        <button class="f-button" onclick=" window.open('../sent','_blank')">Contattaci</button>
    </footer>

</div>

<script src="../../Scripts/Topnav.js"></script>
</body>
</html>
